/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.form-header h1{
  margin: 0;
  width: 100%;
  padding: 16px;
}

.form-content vaadin-horizontal-layout{
  margin: 0;
  width: 50%;
}

.messageList {
  overflow-y: scroll;
  padding: 16px;
  width: 50%;
  height: 100%;
}

.messageList h1{
  padding: 16px;
  width: 50%;
}

